<span class='input-group-text bg-danger text-light  border-danger ms-2'><%= @label %></span>
<%= text_field_tag @field_tag,
  params[@field_tag],
  class: 'form-control border-danger',
  placeholder: @placeholder,
  data: {
    search_bottles_target: @target,
    action: 'keyup->search-bottles#update'
  }
%>
